@import '../../../constant/color.scss';
#courseCollapse {
  margin-top: 3rem;
  h3{
    font-size: 1.3rem;
    margin-bottom: 1.3rem;
  }
  .courseCollapse__infor{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    ul{
      display: flex;
      gap: 1.7rem;
      margin-bottom: 1rem;
      padding-left: 0;
      li:first-child{
        list-style: none;
      }
    }
    a{
      color: $primary_color;
    }
  }
}

.ant-collapse {
    background-color: initial!important;
    border: none!important;
    .ant-collapse-header{
        background-color: rgb(245, 245, 245);
        border: 1px solid #eee;
        .ant-collapse-expand-icon{
            margin-top: 4px;
            color: orangered;
        }
    }
    .ant-collapse-content-box{
        padding-top: 0!important;
    }
}
.collapse__label {
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  span:nth-child(1) {
    font-size: 1.1rem;
    font-weight: 500;
  }
}

.collapse__content {
  .collapse__content__item {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0.6rem;

      svg {
        width: 1rem;
        height: 1rem;
        color: rgb(115 49 30 / 40%);
      }
    }
  }
}
