@import "../../../constant/color.scss";
#footer {
  position: relative;
  z-index: 10;
  margin-top: 6rem;
  background-color: $footer_bg;
  .container {
    padding: 4rem 12rem 0;
    .footer__first {
      ul {
        list-style: none;
      }

      div:nth-child(1) {
        div {
          display: flex;
          gap: 1rem;
          align-items: center;
          justify-content: flex-start;
        }
        img {
          border-radius: 8px;
          width: 2.5rem;
          height: 2.5rem;
        }
        ul {
          text-align: left;
        }
      }

      div {
        h3 {
          text-align: left;
          color: $white;
        }
        ul {
          padding-left: 0;
          text-align: left;
          color: $footer_color;
          li {
            margin: 0.8rem 0;
            a {
              color: $footer_color;
            }
          }
        }
      }
    }
  }

  .footer__container {
    padding: 2rem 12rem 0;

    .footer__second {
      margin-top: 2rem;
      .footer__second__text {
        text-align: left;
        color: $footer_color;
      }
      .footer__second__svg {
        justify-content: flex-end;
        display: flex;
        gap: 1rem;
        svg {
          width: 2.3rem;
          height: 2.3rem;
        }
      }
    }
  }
}

.footer_mb {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #footer {
    padding: 4rem 5rem;
    .container{
      padding: 0 1rem!important;
    }
    .footer__container{
      padding: 0 !important;
      .footer__second{
        max-width: 100%;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #footer {
    padding: 2rem 0rem;
    .container{
      max-width: 100%;
      padding: 0 1rem!important;

    }
    .footer__container{
      padding: 0 !important;

      .footer__second {
        max-width: 100%;
        padding-left: 1rem!important;
        padding-right: 1rem!important;
        div:nth-child(2) {
          margin-top: 2rem;
          justify-content: flex-start;
        }
      }
      .footer__second__svg{
        justify-content: flex-start;
      }
    }
   
  }
}
