@import "../../../constant/color.scss";
#landingChat {
  height: calc(100vh - 100px);
  width: 380px;
  .landingChat {
    height: 100%;
    border: 1px solid #739931;
    .landingChat__header {
      padding: 1rem;
      background-image: url("https://w.ladicdn.com/s760x300/63e927420fe32f0012236125/cover-youtube_final-20230212180746-bivfm.png");
      background-size: 380px;
      background-repeat: no-repeat;
      height: 9.5rem;
      background-color: #739931;
      opacity: 0.8;
      div {
        div {
          display: flex;
          align-items: center;
          gap: 1rem;
          img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
          }
          span {
            font-size: 1.2rem;
            color: $white;
          }
        }
        span{
            font-size: 1.2rem;
            color: $white;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
      }
      p {
        margin: 0;
        margin-top: 3px;
        color: $white;
      }
    }

    .landingChat__body {
      position: relative;
      background: $white;
      width: calc(100% - 24px);
      margin: auto;
      border: 1px solid #eeeeee;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.08);
      .body__first {
        background-color: $white;
        top: -1.2rem;
        right: 0;
        left: 0;
        position: absolute;
        padding: 1rem;
        border: 1px solid #eee;
        p {
          margin-top: 0;
          margin-bottom: 14px;
          font-size: 1.2rem;
          font-weight: bold;
        }
        .first__mess {
          margin-top: 1.2rem;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .avatar {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
          }
          div {
            border-radius: 4px;
            margin: 0;
            width: 10rem;
            background-color: #739931;
            span {
              color: white;
            }
          }
        }
      }

      .body__second {
        background-color: $white;
        top: 9.5rem;
        right: 0;
        left: 0;
        position: absolute;
        padding: 1rem;
        border: 1px solid #eee;
        p {
          margin-top: 0;
          font-size: 1.2rem;
          font-weight: bold;
        }
        .second__mess {
            margin-top: 1rem;
          padding: 1rem;
          border: 1px solid #eee;
          display: flex;
          justify-content: space-between;
          align-items: center;
          span:nth-child(1) {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}
