@import "../../../constant//color.scss";
#courseDetail {
  margin: 100px 4rem 0 4rem;

  .first__header {
    margin-bottom: 3rem;
    h1 {
      margin-bottom: 1.2rem;
    }
    p{
        line-height: 1.5rem;
    }
  }
  .courseDetail {
    .detail__first {
      .first__props {
        h2 {
          margin-bottom: 1.2rem;
        }
        span {
          margin-right: 4px;
          color: orangered;
        }
      }
    }

    .detail__second {
      position: relative;
      top: -12rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .second__img {
        position: relative;
        img {
          border-radius: 1rem;
        }
        p {
          font-size: 1.1rem;
          color: $white;
          bottom: 1rem;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .second__body {
        margin-top: 1rem;
        text-align: center;
        p {
          font-size: 2rem;
          color: $primary-color;
          margin-bottom: 1rem;
        }
        .course__btn {
          width: 12rem;
          color: $white;
          border-radius: 2rem;
        }
        .second__body__list {
          list-style: none;
          margin-top: 2rem;
          text-align: left;
          li {
            margin: 0.7rem 0;
            display: flex;
            align-items: center;
            gap: 1.3rem;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #courseDetail {
    .courseDetail {
      flex-direction: column-reverse;
      .detail__second{
        padding: 1rem 0;
        border: 1px solid #eee;
        top: 0;
        .second__img{
            display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
    #courseDetail {
        margin-left: 0;
        margin-right: 0;
        padding: 0 2rem 0 1rem;
        .courseDetail {
          flex-direction: column-reverse;
          .detail__second{
            padding: 1rem 0;
            border: 1px solid #eee;
            top: 0;
            .second__img{
                display: none;
            }
          }
        }
      }

      .courseCollapse__infor{ul{
        li:first-child{
            display: none;
        }
        li:nth-child(2){
            list-style: none;
        }
      }}
}
