@import "../../../constant/color.scss";

#sidebar__respon {
  display: none;
    z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  .container {
    padding-left: 3rem;
    padding-top: 4rem;
    background-color: $white;
    height: 100%;
    width: 60vw;
    .sidebar__list.respon {
      a {
        width: 100%;
        color: $black;
        text-decoration: none;
      }
      li {
        padding: 1rem 0 1rem 2rem;
        width: 100%;
        border-radius: 0;
        display: flex;
        gap: 1.5rem;
        align-items: center;
        img {
          filter: invert(20%);
            height: 1.7rem;
          width: 1.7rem;
        }
        &:hover img {
          filter: none;
        }
        &:hover {
          background-color: $list_item;
          color: $black;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #sidebar__respon{
    .container {
      padding-left: 1rem;
      width: 80vw;
    }
  }
}